

body {
    background-color: pink;
}

main{
  display: flex;
  flex-direction: row;
}

/* #game {
  background-color: white;
  width: 50%;
  height: 100px;
} */

#game {
  text-align: center;
}

#needs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: aquamarine;
  border-color: 1px black;
  width: 25%;
}

.level, .hunger, .play, .sleep  {
  border: 1px solid black;
	text-align: center;
	border-radius: 1em;
	background-color: lightgray;
	margin: 0.5em;
}

#level_num, #hunger_num, #mood_num, #sleep_num {
  border: 1px solid black;
	text-align: center;
	border-radius: 1em;
	background-color: yellow;
	margin: 0.5em;
}







#star_btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




